@font-face 
{
    font-family: "Press 2Start";
    src: url("../Side-Quest/asset/font/PressStart2P-Regular.ttf") format("truetype");
}
body 
{
    background-color: antiquewhite;
    font-family: "Press 2Start";
}
h1 
{
    font-size: 64px;
    width: 1700px;
    text-shadow: 1px 1px 1px red;
    padding: 10px;
}
a 
{
    display:block;
    text-decoration: none;
    font-size: 200%;
    text-shadow: 1px 1px 5px red;
    margin: 10px;
    padding: 10px;
    text-align: left;
}
a:hover 
{
    text-shadow: 3px 3px 10px red;
}

a:visited
{
    text-shadow: 1px 1px 5px blue;
}
